<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title> Assignment Tracker </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Assignment Tracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" tf:href="@{/dues}">Home</a>
                    </div>
                </div>
            </div>
        </nav>

        <br>
        <br>

        <div class = "coontainer">
            <div class = "row">
                <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <h1 class = "text-center"> Add New Assignment </h1>
                    <div class = "card-body">
                        <form th:action = "@{/dues}" th:object = "${due}" method = "POST">
                            <div class="form-group">
                                <label> Course </label>
                                <input type="text" name="course" class="form-control" th:field = "*{course}" placeholder="Enter the course">
                                <label> Due Date </label>
                                <input type="text" name="dueDate" class="form-control" th:field = "*{dueDate}" placeholder="Enter the due date">
                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>